/* BASE STYLES ==============================================*/
html {
  background-image: linear-gradient(#338795, #1d1a4a 85%, #793a97 99%);
  color: #ffffff;
  font-family: "Corbel";
  text-align: center;
  width: 90%;
  margin: auto;
}
h1 {
  font-family: "Freestyle Script";
}
h2 {
  font-family: "Matura MT Script Capitals";
}
h3,
h4 {
  font-family: "Impact";
}
h5 {
  font-family: "Freestyle Script";
}
h6 {
  font-family: "Rage";
}

/* HEADER ===================================================*/

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  background-color: #ffffff;
}
header li {
  list-style: none;
  display: inline;
}
.banner {
  width: 60%;
}
.logo {
  width: 40%;
}
.nav-links {
  padding: 28px 0;
}
.nav-links li {
  display: inline-block;
  margin: 0 15px;
}
.nav-links li a {
  text-decoration: none;
  color: #1d1a4a;
  padding: 5px 0;
}

/* BUTTON STYLES ============================================*/
/*.btn {
  background-color: #5ee2fd;
  padding: 40em, 6em;
  border-radius: 1.5em;
  border: 0.25em solid #1d1a4a;
  font-family: "Impact";
}*/
.btn {
  padding: 0.25em;
  border: none;
  width: 260px;
  margin: 1rem;
  font-family: "Impact";
  font-size: 2em;
  background-color: #5ee2fd;
  border-radius: 1.5em;
  border: 0.14em solid #1d1a4a;
}
.btn:hover {
  background-color: #338795;
  transition: 0.2s;
  transform: translateY(2px) translateX(0);
}

/* CARD COMPONENT STYLES =================================== */
.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards-item {
  padding: 1em;
}

.card {
  background-color: #f0f0f0;
  border-radius: 0.25em;
  overflow: hidden;
  width: 300px;
}

.exhibit-image {
  background-image: url(../images/pot-3.jpg);
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shop-image {
  background-image: url(../images/sock-shirt.jpg);
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-image {
  background-image: url(../images/applesauce.jpg);
  width: 100%;
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-title {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: "Impact";
  font-size: 2em;
  padding: 1rem 1rem 0 1rem;
  color: #1d1a4a;
}

.card-text {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 0.5rem 1rem 1rem 1rem;
  font-size: 1em;
  font-family: "Impact";
  color: #1d1a4a;
}

.card-content > .btn {
  padding: 0.25em;
  border: none;
  width: 260px;
  margin: 1rem;
  font-family: "Impact";
  font-size: 2em;
  background-color: #5ee2fd;
  border-radius: 1.5em;
  border: 0.14em solid #1d1a4a;
}

.card-content > .btn:hover {
  background-color: #338795;
  transition: 0.2s;
  transform: translateY(2px) translateX(0);
}

/* EXHIBIT CARD COMPONENT STYLES =========================== */
.ex-cards-items {
  display: inline;
}

.ex-cards {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 1;
  justify-content: space-evenly;
}

.ex-card-title {
  text-align: center;
  width: 80%;
  margin: auto;
  font-family: "Impact";
  font-size: 6em;
  padding: 1rem 1rem 0 1rem;
  color: #ffffff;
}

.ex-card-text {
  text-align: center;
  width: 30%;
  margin: auto;
  padding: 0.5rem 1rem 1rem 1rem;
  font-size: 2em;
  font-family: "Corbel";
  color: #ffffff;
}

/* CAROUSEL =================================================*/
